* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* main content*/

main {
    background-color: black;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 20px 0;
    flex-wrap: wrap;
}

.user {
    position: relative;
    background-color: brown;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
}

/* set the user name */
.user span {
    background-color:gray;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 5px;
    padding:5px;
}





	